desktop.ini
IISExpress/config/applicationhost.config
IISExpress/config/aspnet.config
IISExpress/config/redirection.config
My Web Sites/WebSite1/bkg-blu.jpg
My Web Sites/WebSite1/iis.png
My Web Sites/WebSite1/iisstart.htm
My Web Sites/WebSite1/msweb-brand.png
My Web Sites/WebSite1/w-brand.png
SOLIDWORKSComposer/User/composerLog.xml
SOLIDWORKSComposer/User/DataPath.xml
SQL Server Management Studio/Settings/SQL Server Management Studio/NewSettings.vssettings
Veri Kaynaklarım/+Yeni Veri Kaynağına Bağlan.odc
Veri Kaynaklarım/+YeniSQLServerBağlantısı.odc
Veri Kaynaklarım/FOLDER.ICO
Visual Studio 2019/Visualizers/attribcache140.bin
Visual Studio 2010/Settings/CurrentSettings-2022-02-17.vssettings

